<h1>About Me</h1>
<p>I love learning and love learning to code.</p>
<p>I am currently using onemonth.com to learn python and Ruby on Rails.</p>
<p>I want to use Python for automation and creating bots<br>Ruby on Rails I want to quickly create usable apps to test business ideas</p>
