<h1>My Journal App with Ruby on Rails</h1>
<p>Finding it hard to get into the habbit of journalling, I would like to create an app that users and myself can use to journal on.</p>
<p>By the app being in the cloud, journalling can now be done on any device connected to the internet.</p>
